:root {
    --light-nav-color: #e4e5e6;
    --dark-nav-color: #3b3e3f;
    --light-nav-hover-color: #BECEEB;
    --dark-nav-hover-color: #65706D;
    --light-container-highlight-color : #BECEEB;
    --dark-container-highlight-color : #65706D;
    --light-button-highlight-color : #cdbed6;
    --dark-button-highlight-color : #9EB0AB;
    --user-message-color: #d8dbf2;
    --bot-message-color: #d8dbf2;
    --nav-color: var(--light-nav-color);
    --nav-hover-color: var(--light-nav-hover-color);
    --container-highlight-color: var(--light-container-highlight-color);
    --button-highlight-color: var(--light-button-highlight-color);
    --dark-background-color: #313435;
    --light-background-color: #eef1f2;
}

/* 
81717A
9D8CA1
9993B2
A7ABDD
B4D4EE
*/

body {
    color: #313435;
    background-color: #eef1f2;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all 0.2s ease-out;
  }
  
#container {
    display: flex;
    height: 105vh; 
    padding: 1vw;
    padding-top: 0;
    padding-bottom: 0;
}

.content-padding {
    padding: 10px;
    overflow:hidden;
}

#pdf-container {
    flex: 1;
    margin: 10px 10px 3% 0px;
    background-color: var(--nav-color);
    padding: 1.5%;
    border-radius: calc(10px + 1.1vw);
    width: 50vw;
}

#pdf-element {
    overflow-y: auto;
    height: 90%;
}

button {
    margin: 0 1.3% 2% 0;
    border: 0;
    border-radius: calc(8px + 0.3vw);
    padding: 1.2% 1.5%;
    background-color: var(--container-highlight-color);
    font-size: calc(9px + 0.8vw);
    color: inherit;
    transition: all 0.2s ease-out;
}

button:disabled {
    opacity: 0.4;
}

#text-container {
    flex: 1;
    margin: 10px 0px 3% 10px;
    background-color: var(--nav-color);
    padding: 1.5%;
    border-radius: calc(10px + 1.1vw);
    width: auto;
    padding-bottom: 0.8%;
}

#pdf-controls {
    display: flex; /* Set the container to flexbox layout */
    justify-content: space-between; /* This will place space evenly between child elements */
    align-items: center; /* This will vertically center-align child elements */
    padding: 10px; /* Add some padding around the controls */
    box-sizing: border-box; /* This ensures that padding is included in total width */
    width: 100%; /* Set the width to 100% of its parent */
    /* Add additional styling as necessary */
}

#pdf-controls #input-page {
    margin: 0 1.3% 2% 0;
    border: 0;
    border-radius: calc(8px + 0.3vw);
    padding: 1.2% 1.5%;
    background-color: var(--container-highlight-color);
    font-size: calc(10px + 0.8vw);
    color: inherit;
    transition: all 0.2s ease-out;
    width: 10%;
    flex-grow: 1;
}

.hoverable:hover {
    cursor: pointer;
    background-color: var(--button-highlight-color) !important;
}

.hoverable {
    user-select: none;
}

#chat {
    animation: fade-in 0.5s ease-in;
    width: 100%;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.generate {
    width: 100%;
}

#error {
    margin: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--nav-color);
}

#messages {
    flex-grow: 1; /* This will allow #messages to fill the available space */
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-margin-bottom: 10px;
    scroll-padding-bottom: 10px;
    margin-bottom: 2%;
}


#chat-elements {
    box-sizing: border-box; 
    /* bottom: 0;
    left: 0;
    right: 0; */
    display: flex;
    width: 100%; /* Ensure full width */
}

#chat-elements input {
    margin: 0 1.3% 2% 0;
    border: 0;
    border-radius: calc(8px + 0.3vw);
    padding: 1.2% 1.5%;
    background-color: var(--container-highlight-color);
    font-size: calc(10px + 0.8vw);
    color: inherit;
    transition: all 0.2s ease-out;
    width: auto;
    flex-grow: 1;
}

#chat-elements button {
    margin-right: 1.3%; /* Consistent right margin for buttons */
    padding: 1.2% 2.5%;
    flex-shrink: 1; /* Allow buttons to shrink if necessary */
}

/* Remove margin for last child element to avoid unnecessary spacing on the edge */
#chat-elements > :last-child {
    margin-right: 0;
}


input:disabled {
    opacity: 0.4;
}

#message {
    margin: 1% 0;
    border-radius: calc(8px + 0.3vw);
    width: fit-content;
}

.author {
    font-size: 0.8vw;
    opacity: 0.75;
    margin-bottom: 1.2%;
    padding: 0;
}

#message p {
    font-size: 1.1vw;
    margin: 0;
    padding: 0;
}

#message ul {
    margin: 0 0 0 2.1%;
    padding: 0;
    list-style-type: "- ";
}

#message li {
    margin: 1% 0 1% 0;
    font-size: 1.1vw;
}

.user-message {
    background-color: var(--user-message-color);
    color: var(--dark-background-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 1.5% 2.75% 1.5% 2.15%;

}

.user-message-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.bot-message {
    background-color: var(--bot-message-color);
    flex-direction: column;
    padding: 1.5% 2.72% 1.5% 2.1%;
}

.no-context {
    background-color: #ECAFB8;
}

#upload {
    /* margin: 1vw; */
    padding: 1vw;
    background-color: var(--nav-color);
    border-radius: calc(10px + 1.1vw);
}

#upload button {
    border-radius: calc(8px + 0.3vw);
}

#history {
    /* margin: 1vw; */
    padding: 0.5vw;
    background-color: var(--nav-color);
    border-radius: calc(10px + 1.1vw);
    display: flex;
}