:root {
    --light-nav-color: #e0e3e4;
    --dark-nav-color: #3b3e3f;
    --light-nav-hover-color: #C8DED8;
    --dark-nav-hover-color: #65706D;
    --light-container-highlight-color : #D8F0E9;
    --dark-container-highlight-color : #65706D;
    --light-button-highlight-color : #C1D6D0;
    --dark-button-highlight-color : #9EB0AB;
    --nav-color: var(--light-nav-color);
    --nav-hover-color: var(--light-nav-hover-color);
    --container-highlight-color: var(--light-container-highlight-color);
    --button-highlight-color: var(--light-button-highlight-color);
    --dark-background-color: #313435;
    --light-background-color: #eef1f2;
}

body {
    color: #313435;
    background-color: #eef1f2;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all 0.2s ease-out;
  }
  
#container {
    display: flex;
    height: 100vh; 
    margin: 10px 0px;
    padding: 1vw
}

#pdf-container {
    flex: 1;
    margin: 10px 10px 5% 0px;
    background-color: var(--nav-color);
    padding: 1.5%;
    border-radius: calc(10px + 1.1vw);
    width: 50vw;
}

#pdf-element {
    overflow-y: auto;
    height: 92%;
}

button {
    margin: 0 1.3% 2% 0;
    border: 0;
    border-radius: calc(8px + 0.3vw);
    padding: 1.2% 1.5%;
    background-color: var(--container-highlight-color);
    font-size: calc(9px + 0.8vw);
    color: inherit;
    transition: all 0.2s ease-out;
}

button:disabled {
    opacity: 0.4;
}

#text-container {
    flex: 1;
    margin: 10px 0px 5% 10px;
    background-color: var(--nav-color);
    padding: 1.5%;
    border-radius: calc(10px + 1.1vw);
    width: auto;
}

#pdf-container input {
    margin: 0 1.3% 2% 0;
    border: 0;
    border-radius: calc(8px + 0.3vw);
    padding: 1.2% 1.5%;
    background-color: var(--container-highlight-color);
    font-size: calc(10px + 0.8vw);
    color: inherit;
    transition: all 0.2s ease-out;
    width: 10%;
}

.hoverable:hover {
    cursor: pointer;
    background-color: var(--button-highlight-color) !important;
}

.hoverable {
    user-select: none;
}

#chat {
    animation: fade-in 0.5s ease-in;
    height: 86%;
}

.generate {
    width: 100%;
}

#messages {
    height: 98%;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-margin-bottom: 10px;
    scroll-padding-bottom: 10px;
}

#chat input {
    margin: 0 1.3% 2% 0;
    border: 0;
    border-radius: calc(8px + 0.3vw);
    padding: 1.2% 1.5%;
    background-color: var(--container-highlight-color);
    font-size: calc(10px + 0.8vw);
    color: inherit;
    transition: all 0.2s ease-out;
    width: auto;
}

input:disabled {
    opacity: 0.4;
}

#message {
    margin: 1% 0;
    border-radius: calc(8px + 0.3vw);
    width: fit-content;
}

.author {
    font-size: 0.8vw;
    opacity: 0.75;
    margin-bottom: 1.2%;
    padding: 0;
}

#message p {
    font-size: 1.1vw;
    margin: 0;
    padding: 0;
}

#message ul {
    margin: 0 0 0 2.1%;
    padding: 0;
    list-style-type: "- ";
}

#message li {
    margin: 1% 0 1% 0;
    font-size: 1.1vw;
}

.user-message {
    background-color: var(--light-container-highlight-color);
    color: var(--dark-background-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 1.5% 2.75% 1.5% 2.15%;

}

.user-message-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.bot-message {
    background-color: var(--container-highlight-color);
    flex-direction: column;
    padding: 1.5% 2.72% 1.5% 2.1%;
}

#chat-elements {
    margin: 2% 0;
    padding: 0;
}

.no-context {
    background-color: red;
}