<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
    <h1>How to use PDF.ai</h1>
    <body>
        <h3>here will be instrustions on how to use PDF.ai</h3>
        <p>information about what the limitations of PDF.ai are and what not to do on our website</p>
        <p>idk what else to put in this.  I will update instructions and stuff as we go and as we work out the kinks</p>
    </body>
</main>

<%- include ('../partials/footer') %>