<%- include ('../partials/header') %> 
<%- include ('../partials/menu') %>

<main>
    <h1>How to use PDF.ai</h1>
    <body>
        <h3>Thanks for using our website!</h3>
        <p>To get started for the first time, click the register link on the login page. Enter your username, email, and password. After registering, you can then log in.</p>
        <p>To upload a PDF, navigate to the “Upload” tab, and choose a file to upload (must be in .pdf format). Then click the select button. 
            You can view your previous PDF uploads in the “History” tab. You must upload a PDF before continuing.</p>
        <p>After uploading your PDF, you will be directed to the home page, which will load the PDF in the left window. 
            You can go to the previous page, next page, or a specific page number by typing it in the button to the right of “Next Page”. 
            Then click “Go”, and your PDF will jump to that page on the display. In the right hand window, You can ask a specific question about the content of the text at the bottom and click the send button to create an AI message answering your query. 
            If you click the “Context?” button, the AI will generate a message using your previous queries to generate a more detailed response. Click the “Clear” button to clear your query and type a new one if you wish. 
            If you click the “Generate” button at the top, the AI will generate a summary of the page you’re currently on.</p>
        <p>You can also navigate to the “Menu” tab, where you can view your profile by clicking on your username. This page will display your username and email. 
            You can also logout and come back to the website another time!</p>
        <p>For more information or further questions, contact our team: 
            weji5621@colorado.edu
            edki2977@colorado.edu
            ampe1303@colorado.edu
            esgi5437@colorado.edu
            hega9548@colorado.edu
            juas5627@colorado.edu
        </p>
    </body> 
</main>

<%- include ('../partials/footer') %>