<%- include ('../partials/header') %>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const form = document.getElementById('loginForm');
    const passwordInput = document.getElementById('password');

    passwordInput.addEventListener('keypress', function(e) {
      if (e.key === 'Enter') {
        e.preventDefault(); // Prevent the default form submission
        form.submit(); // Manually submit the form
      }
    });
  });
</script>

<main>
  <div class="container mx-auto d-flex justify-content-center align-items-center" style="height: 75vh;">
    <form id="loginForm" action="/login" method="POST" style="text-align: center;">
      <legend>Login</legend>
      <div class="form-outline mb-4">
        <input type="email" id="email" name="email" class="form-control" />
        <label class="form-label" for="email">Email</label>
      </div>
      <div class="form-outline mb-4">
        <input type="password" id="password" name="password" class="form-control"/>
        <label class="form-label" for="password">Password</label>
      </div>
      <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
      <div class="col">
        <a href="register">No account? Click here to Register.</a>
      </div>
    </form>
  </div>
</main>

<%- include ('../partials/footer') %>