<%- include ('../partials/header') %>
    <%- include ('../partials/menu') %>

        <main>
            <div class="container">

                <form action="/logout" method="get">
                    <h1>Logged out succesfully!</h1>
                </form>
            </div>
        </main>

 <%- include ('../partials/footer') %>




       