<div id="text-container">
    <button
        class="generate"
        id="hoverable"
        disabled=true
    >
        Generate
    </button>
    <%- include ('../partials/chatContainer.ejs') %>
    <div class="chat-elements">
        <input
            type="text"
            value={userMessage}
        />
        <button
            id="hoverable"
            disabled=true
        >
            Context?
        </button>
        <button
            id="hoverable"
            disabled=true
        >
            Send
        </button>
        <button
            id="hoverable"
            disabled=true
        >
            Clear
        </button>

    </div>
</div>