
<div id="pdf-container">
    <button class="page-indicator">Page NA of NA</button>
    <button id="hoverable">
        Previous Page
    </button>
    <button id="hoverable" >
        Next Page
    </button>
    <h3>test content</h3>
    <input
        type="text"
    />
    <button id="hoverable">
        Go
    </button>
</div>

